@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --Light-red: hsl(0, 100%, 67%);
  --light-light-red: hsla(0, 100%, 67%, 0.1);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --light-orangey-yellow: hsla(39, 100%, 56%, 0.1);
  --Green-teal: hsl(166, 100%, 37%);
  --light-green-teal: hsla(166, 100%, 37%, 0.1);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --light-cobalt-blue: hsla(234, 85%, 45%, 0.1);
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --light-white: hsla(0, 0%, 100%, 0.3);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Hanken Grotesk", serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 2rem;
  width: 500px;
  background-color: var(--White);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
}

.result {
  width: 50%;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.summary {
  width: 50%;
  padding: 1.5rem 2rem;
}

.circle {
  background: linear-gradient(
    to bottom,
    var(--Violet-blue),
    var(--Persian-blue)
  );
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.container-summary {
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.title-result {
  color: var(--light-white);
  font-size: 0.9rem;
  margin-bottom: 1.75rem;
}

.numeric-score {
  color: var(--Light-lavender);
  font-size: 2.5rem;
}

.max-score {
  color: var(--light-white);
  font-size: 0.7rem;
}

.score {
  color: var(--Light-lavender);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.score-comment {
  color: var(--light-white);
  font-size: 0.7rem;
  padding: 0 0.5rem;
  margin-bottom: 0.75rem;
}

.title-summary {
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.75rem;
}

.btn-summary {
  background-color: var(--Dark-gray-blue);
  color: var(--Light-lavender);
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem;
  font-size: 0.6rem;
}

.btn-summary:hover {
  background-color: var(--Light-royal-blue);
  cursor: pointer;
}

.icon-text {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.icon-text img {
  width: 0.75rem;
}

.category:nth-child(1) {
  background-color: var(--light-light-red);
  border-radius: 0.5rem;
}

.category:nth-child(2) {
  background-color: var(--light-orangey-yellow);
  border-radius: 0.5rem;
}

.category:nth-child(3) {
  background-color: var(--light-green-teal);
  border-radius: 0.5rem;
}

.category:nth-child(4) {
  background-color: var(--light-cobalt-blue);
  border-radius: 0.5rem;
}

.Reaction {
  color: var(--Light-red);
}

.Memory {
  color: var(--Orangey-yellow);
}

.Verbal {
  color: var(--Green-teal);
}

.Visual {
  color: var(--Cobalt-blue);
}

.bold {
  font-weight: 800;
}

.normal {
  color: var(--Dark-gray-blue);
}

@media screen and (max-width: 500px) {
  body {
    align-items: flex-start;
  }
  .card {
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
  .result {
    width: 100vw;
    border-radius: 0 0 2rem 2rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }

  .numeric-score {
    margin-bottom: 0.1rem;
  }

  .summary {
    width: 100vw;
  }

  .score-comment {
    width: 60vw;
  }

  .category {
    padding: 1.25rem;
    font-size: 0.75rem;
  }

  .btn-summary {
    padding: 0.75rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 200px) {
  .category {
    flex-direction: column;
  }
}
